<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="nav.css">
    <!-- Boxiocns CDN Link -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4299264dfd.js" crossorigin="anonymous"></script>
    <link href="nav.css" type="text/css" rel="stylesheet">
    <style>
      img {
        width: 70px;
        background-color: white;
        cursor: pointer;
      }
      .sidebar {
        user-select: none;
      }
      .logo-details a {
        text-decoration: none;
      }
      .logo-details a:hover {
        color: black;
      }
    </style>
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <a href="/" class="logo_name"><img src="/logo.png" alt="">Inventory System</a>
      <form class="logout-form" method="POST" action="/logout">
          <button type="submit">Logout</button>
      </form>
    </div>
    <div class="scrollable-element">
      <ul class="nav-links">


        <li class="li-cat">
          <div class="iocn-link">
            <a href="#">
              <i class="bi bi-bar-chart"></i>
              <span class="link_name">Sales</span>
            </a>
          </div>
          <ul class="sub-menu">
            <li><a href="/sales">Sales</a></li>
            <li><a href="/sales-paymentbreakdown">Payment Breakdown</a></li>
            <li><a href="/sales-invoice">Invoice</a></li>
          </ul>
        </li>



        <li class="li-cat">
          <div class="iocn-link">
            <a href="#">
              <i class="bi bi-cart"></i>
              <span class="link_name">Purchase</span>
            </a>
          </div>
          <ul class="sub-menu">
            <li><a href="/purchase">Purchase</a></li>
            <li><a href="/purchase-paymentbreakdown">Payment Breakdown</a></li>
            <li><a href="/purchase-invoice">Invoice</a></li>
          </ul>
        </li>

      </ul>
      <div id="bottom" class="bottom-left">
        <a class="bottom">©--</a>
      </div>
    </div>
  </div>
</body>
</html>
