<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="nav.css">
    <!-- Boxiocns CDN Link -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4299264dfd.js" crossorigin="anonymous"></script>
    <link href="nav.css" type="text/css" rel="stylesheet">
    <style>
      img {
        width: 70px;
        background-color: white;
        cursor: pointer;
      }
      .sidebar {
        user-select: none;
      }
      .logo-details a {
        text-decoration: none;
      }
      .logo-details a:hover {
        color: black;
      }
    </style>
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <a href="/" class="logo_name"><img src="/Untitled-2-Recovered.png" alt="">Inventory System</a>
      <form class="logout-form" method="POST" action="/logout">
          <button type="submit">Logout</button>
      </form>
    </div>
    <div class="scrollable-element">
      <ul class="nav-links">


        <li class="li-cat">
          <div class="iocn-link">
            <a href="#">
              <i class="bi bi-bar-chart"></i>
              <span class="link_name">Sales</span>
            </a>
          </div>
          <ul class="sub-menu">
            <li><a href="/sales">Sales</a></li>
            <li><a href="/sales-paymentbreakdown">Payment Breakdown</a></li>
            <li><a href="/sales-invoice">Invoice</a></li>
          </ul>
        </li>



        <li class="li-cat">
          <div class="iocn-link">
            <a href="#">
              <i class="bi bi-cart"></i>
              <span class="link_name">Purchase</span>
            </a>
          </div>
          <ul class="sub-menu">
            <li><a href="/purchase">Purchase</a></li>
            <li><a href="/purchase-paymentbreakdown">Payment Breakdown</a></li>
            <li><a href="/purchase-invoice">Invoice</a></li>
          </ul>
        </li>


        <li class="li-cat">
          <div class="iocn-link">
            <a href="#">
              <i class="bi bi-person-rolodex"></i>
              <span class="link_name">Drawing</span>
            </a>
          </div>
          <ul class="sub-menu">
            <li><a style="font-size: 14px;" href="/yycompany2personal">Distribution to Owner</a></li>
          </ul>
        </li>




        <li class="li-cat">
          <div class="iocn-link">
            <a href="#">
              <i class="bi bi-blockquote-right"></i>
              <span class="link_name">Expenses & Credit Note</span>
            </a>
            
          </div>
          <ul class="sub-menu">
            <li><a href="/yyexpenses-record">Expenses Record</a></li>
            <li><a href="/creditnote">Credit Note</a></li>
          </ul>
        </li>



        <li class="li-cat">
          <div class="iocn-link">
            <a href="#">
              <i class="bi bi-collection"></i>
              <span class="link_name">Other</span>
            </a>
            
          </div>
          <ul class="sub-menu">
            <li><a href="/other-creditor">Other Creditor (OC) </a></li>
            <li><a href="/other-creditor-paymentbreakdown">OC-paybreakdown</a></li>
            <li><a href="/other-debtor">Other Debtor (OD) </a></li>
            <li><a href="/other-debtor-paymentbreakdown">OD-paybreakdown</a></li>
            <li><a href="/accruals">Accruals<br>paymentbreakdown</a></li>
            <li><a href="/refund">Refund</a></li>
          </ul>
        </li>


        <li class="li-cat">
          <div class="iocn-link">
            <a href="#">
              <i class="bi bi-box-seam"></i>
              <span class="link_name">Stock</span>
            </a>
          </div>
          <ul class="sub-menu">
            <li><a href="/stockaudit">Stock Audit</a></li>
            <li><a href="/stock-summarize">Stock Summarize</a></li>
            <li><a href="/stock-check">Stock Check</a></li>
            <li><a href="/stock-checkin">Stock Check-in</a></li>
            <li><a href="/shippedrecord">Shipped Record</a></li>
            <li><a href="/stocklocation">Update Stock Location</a></li>
          </ul>
        </li>

 
        
        <li class="li-cat">
          <div class="iocn-link">
            <a href="/yytopupbalance">
              <i class="bi bi-wallet2"></i>
              <span href="/yytopupbalance" class="link_name">TopUp / Balance</span>
            </a>
          </div>
        </li>



        <li class="li-cat">
          <div class="iocn-link">
            <a href="/database">
              <i class="bi bi-filetype-csv"></i>
              <span href="/database" class="link_name">Import&Export</span>
            </a>
          </div>
        </li>


      </ul>
      <div id="bottom" class="bottom-left">
        <a class="bottom">©lchijun</a>
      </div>
    </div>
  </div>
</body>
</html>
