<body>
    <div class="active-container-form">
        <form method="get" style="width: 100%; padding-bottom: 10px;">
            <div>
                <label for="year">Select Year:</label>
                <select class="custom-select" id="year" name="year" style="width: 100px;">
                    <!-- year filter data display here -->
                </select>
                <button class="btn btn-outline-info" type="submit">Filter</button>
            </div>
        </form>
        
        <div style="display: flex; flex-wrap: wrap; gap: 20px; width: 100%; max-height: calc(65vh - 90px); overflow-x: auto;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Fixed Assets</th>
                        <th>RM</th>
                        <th>Current Assets</th>
                        <th>RM</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Office Equipment</td>
                        <td></td>
                        <td>Closing Stock</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Accumulated Depreciation(-)</td>
                        <td></td>
                        <td>Account Receivable</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Cash in Bank</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Cash in Other Acc</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Other Debtor</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Deposit</td>
                        <td></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th style="display: flex; justify-content: end;">Total :</th>
                        <th></th>
                        <th style="display: flex; justify-content: end;">Total :</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
            <div>
                <h2>Total Assets () = Liabilities () + Equity ()</h2>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Liabilities</th>
                        <th>RM</th>
                        <th>Equity</th>
                        <th>RM</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Account Payables</td>
                        <td></td>
                        <td>Capital Account</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Other Creditor</td>
                        <td></td>
                        <td>Retained Profit Carried Forward</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Accruals</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th style="display: flex; justify-content: end;">Total :</th>
                        <th></th>
                        <th style="display: flex; justify-content: end;">Total :</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</body>