<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link href="style.css" type="text/css" rel="stylesheet">
    <title>Home-Dashboard</title>
  </head>
    <body class="main-contents">
      <%- include('partials/nav');%>
      <main class="main-content">
        <div id="printable-content">
          <h2 id="header" style="font-family: Arial;font-weight: bold;">YONG &amp; YI PARTNERS ENTERPRISE</h2>
          <P style="font-family: Arial;"><a style="font-weight: bold;">202203263613 (CA0355099-M)</a>
            <br>11A,LORONG TEKUKUR INDAH 4,
            <br>TAMAN TEKUKUR INDAH
            <br>14300 NIBONG TEBAL, PULAU PINANG, MALAYSIA
            <br>TEL:+60 17-4593823
            <br>EMAIL: SYENYIK10@GMAIL.COM</P>
          <h2 id="header1" style="font-family: Arial">INVOICE</h2>
          <table id="myTable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>John Doe</td>
                <td>30</td>
                <td>john.doe@example.com</td>
              </tr>
              <tr>
                <td>Jane Smith</td>
                <td>25</td>
                <td>jane.smith@example.com</td>
              </tr>
              <tr>
                <td>Bob Johnson</td>
                <td>40</td>
                <td>bob.johnson@example.com</td>
              </tr>
            </tbody>
          </table>
        </div>
        <button class="btn btn-success" onclick="printTable()">Print</button>
      </main>
      <script>
        function printTable() {
          var content = document.getElementById("printable-content").innerHTML;
          var win = window.open('', '', 'height=700,width=700');
          win.document.write('<html><head>');
          win.document.write('<style>table{border-collapse: collapse;} th, td{border: 1px solid black;padding: 5px;} #header{font-size: 2em; text-align: center; margin-bottom:0}p{text-align: center; font-size: 15px} #header1{color:darkblue;font-size: 2em; text-align: center; background-color: grey;}</style>');
          win.document.write('</head><body>');
          win.document.write(content);
          win.document.write('</body></html>');
          win.print();
          win.close();
        }
      </script>
    </body>
</html>
