<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      body {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        user-select: none;
      }
      .container {
        text-align: center;
        position: relative;
      }
      h2 {
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin-bottom: 20px;
      }
      form {
        max-width: 300px; /* Adjust the width as needed */
        margin: auto;
      }
      .labelss {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        display: block;
        text-align: left;
        margin-bottom: 5px;
      }
      .form-control {
        margin-bottom: 15px;
        box-shadow: 0 4px 8px;
      }
      .error-message {
        color: red;
        font-size: 20px;
        margin-bottom: 10px;
      }
      .btn-container {
        display: flex;
        justify-content: center;
        width: 100%;
      }
      .overlay-image {
        position: absolute;
        bottom: 80%;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
        height: auto;
        z-index: 2;
      }
      .btn {
        font-size: 20px;
        border-radius: 6px;
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <img src="logo.png" alt="Overlay Image" class="overlay-image">
      <h2>Inventory System v1.0</h2>
      <form method="POST" action="/login">
        <div>
          <label class="labelss" for="username">Username:</label>
          <input class="form-control" type="text" id="username" name="username" required>
        </div>
        <div>
          <label class="labelss" for="password">Password:</label>
          <input class="form-control" type="password" id="password" name="password" required>
        </div>
        <% if (locals.error) { %>
          <p class="error-message"><%= locals.error %></p>
        <% } %>
        <div class="btn-container">
          <button type="submit" class="btn btn-outline-dark">Login</button>
        </div>
      </form>
    </div>
  </body>
</html>
