<body>
    <div class="active-container-form">
        <form method="get" style="width: 100%; padding-bottom: 10px;">
            <div>
                <label for="year">Select Year:</label>
                <select class="custom-select" id="year" name="year" style="width: 100px;">
                    <!-- year filter data display here -->
                </select>
                <button class="btn btn-outline-info" type="submit">Filter</button>
            </div>
        </form>
        <div class="table-container">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Debit</th>
                        <th>Credit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th style="display: flex; justify-content: end;">Total :</th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
    
        </div>
    </div>
</body>