/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 260px;
    background: white;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.logo-details {
    position: fixed;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 40px;
    justify-content: space-between;
    background-color: white;
    z-index: 999;
    border-bottom: 1px solid grey;
}

.logo-details i {
    font-size: 30px;
    color: black;
    cursor: pointer;
}

.logo_name {
    font-size: 16px;
    color: black;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

.logout-form {
    margin-left: auto;
}

.logout-form button {
    background-color: black;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
    border-radius: 15px;
    transition: 0.5s;
}

.logout-form button:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px;
    color: black;
    transition: 0.5s;
}

.scrollable-element {
    flex-grow: 1;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 20px 0;
    padding-top: 60px;
    padding-bottom: 20px;
    border-right: 1px solid grey;
    height: 100%;
}

.scrollable-element::-webkit-scrollbar {
    display: none;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul {
  list-style: none;
}

.nav-links li {
    position: relative;
    transition: all 0.4s ease;
}

.nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    color: black;
}

.nav-links li i {
    font-size: 20px;
    margin-right: 10px;
    text-align: center;
    display: flex;
}

.sub-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  padding: 5px 20px;
  display: block;
  transition: all 0.3s ease;
}

.sub-menu a:hover {
    color: #ff77dd;
}

.bottom-left {
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    bottom: 0;
    left: 0;
    text-align: left;
    padding-left: 20px;
}

.bottom {
    color: rgb(0, 0, 0);
    font-size: 14px;
}

.iocn-link {
  border-top: 1px solid grey;
  padding-top: 20px;
  width: 100%;
}

.li-cat {
  margin: 20px 10px;
}

.link_name {
    font-weight: bold;
}