.main-content{
  display: flex;
  flex-direction: column;
  height: calc(100% - 140px);
  width: 90%;
  padding-left: 280px;
  padding-top: 100px;
  overflow-x: hidden;
}

.main-contents{
  background-color: rgb(255, 255, 255);
  padding-bottom: 50px;
}

#addProductRow {
  border: none;
  background: none;
  color: rgb(0, 0, 0);
  height: auto;
  display: inline-block;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  transition: 0.3s;
}
#addProductRow:hover {
  color: rgb(81, 214, 90);
  transition: 0.3s;
}